* {
  // outline: 1px solid orange;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 17px;
  font-family: Microsoft JhengHei;
  color: #3d3d3d;

  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* font-family: "Verdana", "sans-serif"; */
}

.footer {
  font-size: 30px;
  text-align: center;
  padding-bottom: 30px;
}

.footer > .col > a {
  color: #f8f7f5;
  letter-spacing: 20px;
  text-decoration: none;
}

.footer > .col > a:hover {
  color: #5fcec0;
}

.navDiv {
  min-height: 55px;
  .navIcon {
    position: fixed;
    right: 15px;
    color: #f8f7f5;
    font-size: 30px;
    z-index: 2;
    opacity: 1;
    transform: rotate(180deg);
    transition: 0.3s ease-in-out;
    &:hover {
      color: rgb(221, 165, 45);
    }
  }

  .active {
    opacity: 1;
    transform: rotate(-90deg);
    transition: 0.3s ease-in-out;
    & > svg {
      opacity: 0;
      transition: 0.3s ease-in-out;
    }
    &::before {
      content: "";
      width: 30px;
      height: 30px;
      border-left: 4px solid white;
      transform: translate(6px, 2px) rotate(45deg);
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &::after {
      content: "";
      width: 30px;
      height: 30px;
      border-right: 4px solid white;
      transform: translate(-7px, 2px) rotate(-45deg);
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .mainNav {
    position: fixed;
    visibility: hidden;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
    & > ul {
      li {
        float: none;
        text-align: center;
        opacity: 0;
        position: relative;

        & > a {
          display: inline-block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            border-bottom: 2px solid white;
            bottom: 12px;
            opacity: 0;
            left: 50%;
            width: 0%;
          }

          &:hover {
            &::after {
              opacity: 1;
              left: 0;
              width: 100%;
              transition: 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }

  .slideUp {
    transform: translateY(-212px);
    transition: 0.3s ease-in-out;
  }

  .slideDown {
    transform: translateY(1px);
    transition: 0.3s ease-in-out;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.753);

    ul {
      li {
        animation: fadeInRight 0.3s ease-in-out forwards;
        animation-delay: 0.35s;
        &:nth-of-type(2) {
          animation-delay: 0.4s;
        }
        &:nth-of-type(3) {
          animation-delay: 0.45s;
        }
        &:nth-of-type(4) {
          animation-delay: 0.5s;
        }
      }
    }
  }
}

nav {
  width: 100%;
  top: 0;
  right: 0;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky;
  width: 100%;
  position: sticky;
  top: 0;
}

nav > ul > li {
  float: right;
}

.header {
  letter-spacing: 5px;
  color: white;

  & > a {
    color: white;
  }
}

.aboutDiv {
  background-color: #f8f7f5;
  display: flex;
  flex-direction: column;
  align-items: center;

  .inner {
    width: 100%;
    padding: 0 15px 10px;
    font-size: 18px;
  }
}

p {
  font-size: 30px;
}

.inner {
  font-size: 19px;
  width: 50%;
  margin: 0 auto;
  & > h2 {
    color: #d07c7c;
  }
}

.myPhotoDiv {
  padding: 20px;
  min-width: 250px;
  max-width: 500px;
  margin: 0 auto;
  & > img {
    width: 100%;
  }
}

ol {
  padding-top: 30px;
}
ol > li {
  line-height: 40px;
}

li {
  img {
    width: 220px;
    height: 165px;
  }
}

.skillsRow {
  background-color: #f2f2f2;
  padding: 15px 0;
  margin: 0;
  position: relative;
  color: #3d405b;
  &::after {
    content: "";
    display: inline-block;
    width: 90%;
    height: 1px;
    border: 1px solid gray;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.skills {
  background-color: #f2f2f2;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 0;
  color: #3d405b;
  .row {
    margin: 5px 0;
    width: 100%;
    text-align: center;
  }
}

.portfolio {
  background-color: white;
  padding: 15px 0;
  margin: 0;
  color: #3d405b;
}

section {
  background-color: white;
  padding: 0 20px;

  .timeline {
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    margin-bottom: 50px;

    &::before {
      content: "";
      height: 100%;
      width: 1px;
      border: 2px solid #c2c2c2;
      position: absolute;
      left: 50%;
    }

    li {
      position: relative;
      margin: 20px 0;
      width: auto;
      display: flex;
      text-align: center;
      justify-self: center;
      padding-top: 25px;

      &::before {
        content: "";
        position: absolute;
        left: calc(50% - 5px);
        width: 15px;
        height: 15px;
        background-color: #80ba8e;
        border-radius: 50%;
        top: 0;
        margin: auto;
      }

      .timeItem {
        display: flex;
        flex-direction: column;
        width: fit-content;
        color: #3d405b;

        a {
          position: relative;
          box-shadow: 2px 2px 5px 0px #6d7088;

          &::before {
            content: "";
            background-color: rgb(100, 96, 89);
            opacity: 0;
            height: 100%;
            width: 100%;
            position: absolute;
          }

          .itemContent {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            height: 20px;
            text-align: center;
            display: inline-block;
            color: white;
            text-decoration: none;
            opacity: 0;
          }

          &:hover {
            .itemContent {
              opacity: 1;
            }
            &::before {
              opacity: 0.5;
            }

            .itemContent,
            &::before {
              transition: 0.3s ease-in-out;
            }
          }
        }

        .itemTitle {
          font-size: 16px;
          display: inline-block;
          margin: 15px 0;
          text-align: center;
          background-color: #ffe2a4;
          border-radius: 15px;
          padding: 5px;
          color: #3d405b;
        }
      }
    }
  }
}

.contact {
  background-color: #161616;
  color: #f8f7f5;
  padding: 10px 0;

  & > .row {
    margin: 0;
  }
}

@media screen and (min-width: 1050px) {
  * {
    // outline: 1px solid green;
  }

  .homeContainer {
    min-height: 380px;

    .header {
      width: 100%;
      transform: translate(50px, 50px);
      margin-left: -50px;
    }
  }

  .skills {
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    .row {
      margin: 10px 0;
      flex-wrap: wrap;
      width: 100%;
      .row{
        width: calc(100% / 4);
      }
    }
  }

  .aboutDiv {
    display: flex;
    flex-direction: row;

    .inner {
      width: 50%;
    }
  }

  section {
    .timeline {
      li {
        padding-top: 0;
        width: 50%;
        &:nth-child(odd) {
          text-align: right;
          justify-content: flex-start;
        }

        &:nth-child(even) {
          text-align: left;
          justify-content: flex-end;
        }
      }
    }
  }
}
