body {
  font-size: 17px;
  font-family: Microsoft JhengHei;
  color: #3d3d3d;
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* font-family: "Verdana", "sans-serif"; */
}

.footer {
  font-size: 30px;
  text-align: center;
  padding-bottom: 30px;
}

.footer > .col > a {
  color: #f8f7f5;
  letter-spacing: 20px;
  text-decoration: none;
}

.footer > .col > a:hover {
  color: #5fcec0;
}

.navDiv {
  min-height: 55px;
}

.navDiv .navIcon {
  position: fixed;
  right: 15px;
  color: #f8f7f5;
  font-size: 30px;
  z-index: 2;
  opacity: 1;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.navDiv .navIcon:hover {
  color: #dda52d;
}

.navDiv .active {
  opacity: 1;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.navDiv .active > svg {
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.navDiv .active::before {
  content: "";
  width: 30px;
  height: 30px;
  border-left: 4px solid white;
  -webkit-transform: translate(6px, 2px) rotate(45deg);
          transform: translate(6px, 2px) rotate(45deg);
  position: absolute;
  bottom: 0;
  left: 0;
}

.navDiv .active::after {
  content: "";
  width: 30px;
  height: 30px;
  border-right: 4px solid white;
  -webkit-transform: translate(-7px, 2px) rotate(-45deg);
          transform: translate(-7px, 2px) rotate(-45deg);
  position: absolute;
  right: 0;
  bottom: 0;
}

.navDiv .mainNav {
  position: fixed;
  visibility: hidden;
  z-index: 1;
}

.navDiv .mainNav > ul li {
  float: none;
  text-align: center;
}

.navDiv .mainNav > ul li > a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
}

.navDiv .mainNav > ul li > a::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid white;
  bottom: 12px;
  opacity: 0;
  left: 50%;
  width: 0%;
}

.navDiv .mainNav > ul li > a:hover::after {
  opacity: 1;
  left: 0;
  width: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.navDiv .slideUp {
  -webkit-transform: translateY(-212px);
          transform: translateY(-212px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.navDiv .slideDown {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.685);
}

nav {
  width: 100%;
  top: 0;
  right: 0;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky;
  width: 100%;
  position: sticky;
  top: 0;
}

nav > ul > li {
  float: right;
}

.header {
  letter-spacing: 5px;
  color: white;
}

.header > a {
  color: white;
}

.aboutDiv {
  background-color: #f8f7f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutDiv .inner {
  width: 100%;
  padding: 0 15px 10px;
  font-size: 18px;
}

p {
  font-size: 30px;
}

.inner {
  font-size: 19px;
  width: 50%;
  margin: 0 auto;
}

.inner > h2 {
  color: #d07c7c;
}

.myPhotoDiv {
  padding: 20px;
  min-width: 250px;
  max-width: 500px;
  margin: 0 auto;
}

.myPhotoDiv > img {
  width: 100%;
}

ol {
  padding-top: 30px;
}

ol > li {
  line-height: 40px;
}

li img {
  width: 220px;
  height: 165px;
}

.skillsRow {
  background-color: #f2f2f2;
  padding: 15px 0;
  margin: 0;
  position: relative;
  color: #3d405b;
}

.skillsRow::after {
  content: "";
  display: inline-block;
  width: 90%;
  height: 1px;
  border: 1px solid gray;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.skills {
  background-color: #f2f2f2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  color: #3d405b;
}

.skills .row {
  margin: 10px 0;
}

.portfolio {
  background-color: white;
  padding: 15px 0;
  margin: 0;
  color: #3d405b;
}

section {
  background-color: white;
  padding: 0 20px;
}

section .timeline {
  list-style: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
  margin-bottom: 50px;
}

section .timeline::before {
  content: "";
  height: 100%;
  width: 1px;
  border: 2px solid #c2c2c2;
  position: absolute;
  left: 50%;
}

section .timeline li {
  position: relative;
  margin: 20px 0;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  justify-self: center;
  padding-top: 25px;
}

section .timeline li::before {
  content: "";
  position: absolute;
  left: calc(50% - 5px);
  width: 15px;
  height: 15px;
  background-color: #80ba8e;
  border-radius: 50%;
  top: 0;
  margin: auto;
}

section .timeline li .timeItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #3d405b;
}

section .timeline li .timeItem a {
  position: relative;
  -webkit-box-shadow: 2px 2px 5px 0px #6d7088;
          box-shadow: 2px 2px 5px 0px #6d7088;
}

section .timeline li .timeItem a::before {
  content: "";
  background-color: #646059;
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

section .timeline li .timeItem a .itemContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 20px;
  text-align: center;
  display: inline-block;
  color: white;
  text-decoration: none;
  opacity: 0;
}

section .timeline li .timeItem a:hover .itemContent {
  opacity: 1;
}

section .timeline li .timeItem a:hover::before {
  opacity: 0.5;
}

section .timeline li .timeItem a:hover .itemContent, section .timeline li .timeItem a:hover::before {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

section .timeline li .timeItem .itemTitle {
  font-size: 16px;
  display: inline-block;
  margin: 15px 0;
  text-align: center;
  background-color: #ffe2a4;
  border-radius: 15px;
  padding: 5px;
  color: #3d405b;
}

.contact {
  background-color: #161616;
  color: #f8f7f5;
  padding: 10px 0;
}

.contact > .row {
  margin: 0;
}

@media screen and (min-width: 980px) {
  .homeContainer {
    min-height: 380px;
  }
  .homeContainer .header {
    -webkit-transform: translate(50px, 50px);
            transform: translate(50px, 50px);
    margin-left: -100px;
  }
  .skills {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
  }
  .aboutDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .aboutDiv .inner {
    width: 50%;
  }
  section .timeline li {
    padding-top: 0;
  }
  section .timeline li:nth-child(odd) {
    text-align: right;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  section .timeline li:nth-child(even) {
    text-align: left;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
/*# sourceMappingURL=main.css.map */